* {
  box-sizing: border-box;
}

.header{
  background-color:  rgb(136, 193, 255);;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;

}

.main{
  padding: 10px 20px 10px 20px;
}

#sobre-mi {
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(136, 193, 255);
}

.info-sobre-mi{
  margin: 10px 50% 10px 10px;
  justify-content:left;
}
